<!DOCTYPE html>
<html>
        <style>
                table {
                  font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 100%;
                }
                
                td, th {
                  border: 1px solid #dddddd;
                  text-align: left;
                  padding: 8px;
                }
                
                tr:nth-child(even) {
                  background-color: #dddddd;
                }
                </style>
<head>
<table id="tabela" class="table table-bordered table-striped" style="font-size: 13px">
    <thead>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Cliente</th>
  </tr>
  </thead>
  <tbody>

  {% for u in pedido %}
  <tr>
          <td >{{ u.produto }}</td>
          <td >{{ u.quantidade }}</td>
          <td >{{ u.cliente }}</td>
         
    </tr>
    {% endfor %}

</table>
</body>
</html>
